<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<form th:method="POST" th:action="@{/userCreate}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id = "name">
    <br/>
    <label for="lastname">Enter lastname: </label>
    <input type="text" th:field="*{lastname}" id = "lastname">
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id = "age">
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id = "email">
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id = "password">
    <br/>
    <label for="roles">Enter roles: </label>
    <input type="text" th:field="*{roles}" id = "roles">
    <br/>
    <input type="submit" value="Save new user"/>
</form>
</body>
</html>